<div>
    <h1>Todo's lijst</h1>

    <ol>
        <li>https://www.youtube.com/watch?v=wp_RQqLWOlE bekijken!</li>
        <li>Uitzoeken hoe OnPush gebruiken met NgRX store</li>
        <li>Uitzoeken hoe NgRx feature state gebruiken over verschillende Standalone components of 1 globale state gebruiken?</li>
        <li>Global vs component state? https://rimdev.io/global-versus-component-state</li>
    </ol>


    <section>
        <h2>NgRx master</h2>
        <ol>
            <li>Statemanagement global vs local</li>
            <li>You might not need NgRx: https://www.youtube.com/watch?v=omnwu_etHTY</li>
            <li>Statemanagement local storage, zodat we niet iedere keer opnieuw API call maken</li>
            <li>App en statemanagement unit testen</li>
            <li>e2e testen Cypress of Playwright</li>
        </ol>
    </section>

    <section>
        <h2>Todo feature</h2>
        <ol>
            <li>API bouwen</li>
            <li>Todo's ordenen</li>
        </ol>
    </section>
</div>